$primary-background: #1d2228;
$secondary-background: #303842;
$light-background: rgb(204, 204, 204);
$tertiary-background: #444f5d;
$tertiary-hover: #556272;
$primary-text: #ffffff;
$secondary-text: #000000;
$primary-highlight: #ffa500;
$primary-highlight-contrast: #bf6c00;
$link: #4169e1;