@use '../../styling/global.scss';
@use '../../styling/partials/colors' as *;
@use '../../styling/partials/mixins' as *;

.footer {

    &__top {
        background-color: $tertiary-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;

        @include tablet {
            padding: .75rem;
        }

        &:hover {
            background-color: $tertiary-hover;
            cursor: pointer;
        }

        &__arrow {
            width: 1rem;
        }

        &__text {
            font-size: .65rem;
        }
    }

    &__links {

        &--mobile {
            background-color: $secondary-background;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            padding-bottom: 0;

            @include mini-tablet {
                padding: 1.25rem;
                padding-bottom: .25rem;
                justify-content: space-around;
            }

            @include tablet {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include tablet {
                display: flex;
                justify-content: space-between;
                background-color: $secondary-background;
                padding: 3rem;
            }

            @include laptop {
                padding: 3rem 4rem 2rem 4rem;
            }

            @include desktop {
                padding: 3rem 10rem 2rem 10rem;
            }

            @include wide-desktop {
                padding-left: 15vw;
                padding-right: 15vw;
            }
        }

        &__section {
            @include tablet {
                width: 20%;
            }

            @include laptop {
                width: fit-content;
            }
        }

        &__heading {
            @include tablet {
                margin-bottom: 1rem;
            }
        }
    }

    &__link {
        font-size: .8rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: .75rem;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &__item {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &__heading {
            font-size: .75rem;
            font-weight: 700;
        }

        &__description {
            font-size: .75rem;
            width: 7rem;
            margin-bottom: 1rem;
        }
    }

    &__logo-container {
        background-color: $primary-background;
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;

        @include laptop {
            background-color: $secondary-background;
            border-top: 1px solid $tertiary-background;
        }
    }

    &__logo {
        width: 6rem;
    }

    &__container {
        padding: 1rem;
        background-color: $primary-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mini-tablet {
            padding: 1.25rem;
        }

        @include tablet {
            padding: 1.5rem 3rem 2rem 3rem;
        }

        &--mobile {
            background-color: $primary-background;
            display: flex;
            justify-content: center;
            padding: 1rem;
            padding-top: 0;

            @include laptop {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include laptop {
                display: flex;
                background-color: $primary-background;
                padding: 3rem 4rem 0 4rem;
                justify-content: space-between;
            }

            @include desktop {
                padding: 3rem 10rem 0 10rem;
            }

            @include wide-desktop {
                padding-left: 15vw;
                padding-right: 15vw;
            }
        }
    }

    &__sign-in {
        font-size: .8rem;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__terms {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        @include tablet {
            flex-wrap: nowrap;
        }

        &__link-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include mini-tablet {
                width: fit-content;
            }
        }

        &__link {
            font-size: .65rem;

            @include mini-tablet {
                margin-right: 1.5rem;
            }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &__copyright {
            width: 100%;
            text-align: center;
            margin-top: .5rem;

            @include tablet {
                margin: 0;
                text-align: left;
                width: fit-content;
            }

            &:hover {
                text-decoration: none;
                cursor: auto;
            }
        }
    }

    &__disclaimer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin-top: 3rem;
        }

        &__notes {
            font-size: .75rem;
            font-weight: 700;
            text-align: center;
        }
    }
}